.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 100%;
  margin: 10px 0 0 0;
  font-size: 32px;
  text-align: center;
}

.main {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  margin: 10px auto 0;
  text-decoration: none;
  .shortDesc {
    font-size: 18px;
  }
  .descList {
    list-style: none;
  }
}
